* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#pastry-img {
    width: 5.2em;
  height: 5em;
  position: absolute;
  z-index: 2;
  top: -2.3em;
  left: 5.5em;
  /* border: solid; */
}

.pastries-components {
  position: absolute;
  top: 0;

  width: 100%;
}

/* DRINKS CONTAINER */
.pastry-wrapper {
  display: flex;
  /* border: solid blue; */
  width: 100%;
  justify-content: center;

}



.pastries-container {

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;

    row-gap: 1em;
    /* border: solid yellow; */
    width: 100%;
  height: 25em;
 

}

/* NO RE-USE */
.pastries--container {

  /* border: solid black; */
  display: flex;
  justify-content: center;


  


}

/* DRINK-BUTTON */
/* NOT RE-USE */
.pastriesbtn-container {
  position: absolute;
  top: -4.1em;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 4em;
  width: 4em;
  height: 4em;
left: 6em;

}


/* NO RE-USE */
.pastries-section-img {
  position: absolute;
  width: 100%;
  margin: 0 0.2em 1.1em 0;

}




