* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#cake-img {
   width: 6em;
  height: 4.5em;
  position: relative;
  z-index: 2;
  top: -2.3em;
  left: 5em;
/* border: solid; */


}

.cakes-components {
  position: absolute;
  top: 0;
    /* border: solid; */
  width: 100%;
}
/* DRINKS CONTAINER */

.cakes-wrapper {
  display: flex;
  /* border: solid blue; */
  width: 100%;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.cakes-info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;

    row-gap: 1em;
    /* border: solid yellow; */
    width: 100%;
  height: 25em;
    /* border: solid; */

}

/* NO RE-USE */
.cakes--container {

  /* border: solid black; */
  display: flex;
  width: 100%;

  justify-content: center;
}

.cakesMain-container {
    display: flex;
  justify-content: center;
}

/* DRINK-BUTTON */
/* NOT RE-USE */
.cakesbtn-container {
  position: absolute;
  top: -4.5em;

  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: 4em;
  width: 4em;


left: 10.5em;


}


/* NO RE-USE */
.cakesbtn-container > img {
  position: absolute;
  width: 6em;
  height: 6em;
  margin: 0 0.2em 1.1em 0;


}




