* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


:root {
    --montserrat: 'Montserrat', sans-serif;
}

body {
        background-color: #DCDDD6;
}

.orderingApp-container {

    height: 100%;
    display: flex;
    flex-direction: column;
}

nav {
    height: 5em;
    border-bottom: .1em solid;
      color: rgba(223, 192, 192, 0.33);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);


    
}

nav > img {
    position: absolute;
    left: -1.5em;
    top: 0;
    width: 80%;
    height: 10%;
}

.img-container {
    background-image: url('/public/images/OrderingAppImg.webp');
    background-repeat: no-repeat;
    background-position: center;
}


section {
  width: 95%;
  height: 25em;
  margin: 0 auto;
  background: rgba(223, 192, 192, 0.33);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  position: relative;
  z-index: 0;
    max-width: 360px;
    margin-top: 5em;
    margin-bottom: 5em;
}




footer {


    width: 100%;
}

footer > img {
  position: absolute;
  width: 100%;
  z-index: -1;
    bottom: -.5em;
 

}




